*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  background:#fff;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}
.container{
  width:100%;
  max-width: 80rem;
  margin: 0 auto;
}
.row{
  margin-left: auto;
  margin-right: auto;
}
.col{
  float: left;
  min-height: 1px;
  padding: 0 .75rem;
  box-sizing:border-box;
}
.row .col.mobile1 {
  width: 8.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.mobile2 {
  width: 16.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.mobile3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.mobile4 {
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.mobile5 {
  width: 41.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.mobile6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.mobile7 {
  width: 58.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.mobile8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.mobile9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.mobile10 {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.mobile11 {
  width: 91.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.mobile12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}
/* menu */
.nav-menu{
  background: #26a69a;
  padding: 1.2rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  position:fixed;
  width:100%;
  z-index:99999999999;
}
.nav-menu .nav-logo {
  width:40%;
  text-decoration:none;
}

.nav-menu .nav-logo img {
  width:10rem;
  height:5rem;
}
.nav-menu .nav-logo h6{
  font-size: 3rem;
  margin:0;
  line-height:6rem;
  color:#fff;
  display:inline-block;
}
.nav-menu .nav-content{
  display:none;
  height:100%;
  width:100%;
  top:0;
  left:0;
  position:fixed;
  height: 100%;
  width:100%;
  background:#26a69a;
  z-index: 99999999;
}

.nav-menu .nav-button--mobile--open{
  float:right;
  cursor:pointer;
  margin-top:1.7rem;
}
.nav-menu .nav-button--mobile--open i{
  color: #fff;
  cursor:pointer;
  font-size:2rem;
}
.nav-menu .nav-button--mobile--close{
  right:0;
  cursor:pointer;
  position:absolute;
  float:right;
  padding: 1rem;
  right: 0;
  cursor:pointer;
}
.nav-menu .nav-button--mobile--close i{
  font-size:2rem;
  color: #fff;
  cursor:pointer;
}
.nav-menu .nav-content .nav-list{
  width:80%;
}
.nav-menu .nav-content .nav-list .nav-listItem{
  line-height:3rem;
  list-style-type:none;
  position:relative;
  padding: 1rem;
  cursor:pointer;
}
.nav-menu .nav-content .nav-list .nav-listItem:hover{
  background-color: #ffffff3d;
}
.nav-menu .nav-content .nav-list .nav-listItem a{
  color:#fff;
  text-decoration:none;
  font-size:1.2rem;
  line-height:1.2rem;
}

.dayIndex{
  background:url("../img/day_640.jpg") no-repeat;
}
.nightIndex{
  background:url("../img/day_640.jpg") no-repeat;
}
.card{
  position:relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  background: #fff;
}
.card.card1{
  background:#17310c;
  margin:1rem 0;
}
.card .card-content{
  padding: 2.4rem;
  border-radius: 0 0 2px 2px;
}
.card .card-content .card-title{
  font-size: 2rem;
}
.card .card-content .card-subtitle{
  font-size: 1.2rem;
}

.card1 .card-content .card-title,
.card1 .card-content .card-subtitle{
  text-align:center;
  color:#fff;
}
.about{
  background:url("../img/sec1.jpg") no-repeat;
  width: 100%;
  height:400px;
}
.about h1{
  color: #fff;
  text-align:center;
  font-size:2rem;
  margin: 38% 0;
  text-shadow: 1px 1px #000;
}
.about .down{
  text-align:center;
  cursor:pointer;
  margin:  -4rem auto 0 auto;
  display:block;
}
.about .down i{
  color: #fff;
  font-size:3rem;
}
.about-product{
  display:inline-flex;
  margin: 0 auto;
  width:100%;
}
.about-product h2{
  text-align: center;
  font-size: 2.4rem;
  line-height: 14rem;
}
.about-product p{
  font-size:1.2rem;
  line-height:1.4rem;
  margin:0 auto 3rem auto;
  text-align:justify;
  max-width: 25rem;
  width:100%;
}
.about-product .marcar-entrevista{
  margin: 0 auto;
  display:flex;
}
.about-history h2{
  font-size:  2.4rem;
  text-align:center;
  line-height: 14rem;
}
.about-history p{
  font-size:1.2rem;
  line-height:1.4rem;
  margin:0 auto;
  text-align:justify;
  max-width: 25rem;
  width:100%;
  padding: 1rem;
}
.about-mission {
  margin: 4rem 0;
}
.about-mission h6{
  font-size:  2rem;
  text-align:center;
}
.about-mission p{
  font-size:1.2rem;
  line-height;1.4rem;
  margin:0 1rem;
  text-align:center;
}

.courses-img img{
  width:100%;
  max-width: 800px;
  height:auto;
  margin: 2rem auto;
  display:block;
}
.about-courses{
  max-width: 1200px;
  width:100%;
  margin: 0 auto;
}
.about-courses h2{
  font-size:2rem;
  line-height:14rem;
  margin:4rem 0; 
  text-align:center;
}
.about-courses h6{
  font-size:2rem;
  line-height:2rem;
  text-align:center;
  margin: 3rem 0;
}
.about-courses p{
  font-size:1rem;
  text-align:justify;
  line-height:1.4rem;
  margin: 0px 1rem;
}

.about-courses .row{
  margin-bottom: 3rem;
}
.about-contact{
  margin: 0 auto;
}
.about-contact h2{
  font-size:2.4rem;
  line-height:2rem;
  text-align:center;
  margin: 3rem 0;
}
.about-contact p{
  font-size:1rem;
  text-align:center;
  line-height:1.4rem;
  margin: 0px 1rem;
}
.about-contact a{
  text-decoration:none;
  background: #26a69a;
  height: 18rem;
  display:flex;
  margin:4rem 0;
}
.about-contact a:hover{
  background: #1b7d74;
}
.about-contact .icon-info{
  display:block;
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 6rem auto;
  text-decoration:none;
}
.about-contact .icon-info i{
  font-size: 3rem;
  text-align:center;
  display:block;
  color: #26a69a;
  padding: 0.4rem;
}
.about-contact .icon-info span{
  font-size: 1.2rem;
  line-height: 4.2rem;
  color: #fff;
  display:block;
  text-align:center;
}
footer{
  background: #1b7d74;
  padding: 1rem;
  display: inline-block;
  width:100%;
  margin: 2rem 0  -1rem 0;
}
footer .copy{
  text-align:center;
  color:#fff;
}
footer .copy-blog{
  text-align:center;
  background: #1b7d74;
  position:absolute;
  left:0;
  width:100%;
  padding:1rem;
  margin-bottom:-1rem;
}
footer h6{
  color:#fff;
}
.footer-blog{
  background:#1e1e1e;
  color: #fff;
  position:relative;
}
.footer-blog .footer-logo{
  font-size:3rem;
}
.footer-blog .footer-title{
  font-size:2rem;
  border-bottom:4px solid #26a69a;
  margin: 3rem 0;
}

.footer-blog .footer-map-site{
  display:block;
  margin: 0;
}
.footer-blog .footer-map-site li{
  display:block;
  margin: 0;
}
.footer-blog .footer-map-site a{
  display:block;
  text-decoration:none;
  font-size:1.2rem;
  color:#fff;
  line-height:2rem;
}
.footer-blog p{
  font-size:1.2rem;
  line-height:1.5rem;
  text-align:justify;
}
.footer-blog a{
   text-decoration:none;
    display:block;
}
.footer-icon {
  display:flex;
}
.footer-blog .icon-info{
  display:block;
  background: #fff;
  border-radius: 50%;
  width: 62px;
  height: 60px;
  margin: 1rem ;
  text-decoration:none;
}
.footer-blog .icon-info i{
  font-size: 3rem;
  text-align:center;
  display:block;
  color: #26a69a;
  padding: 0.4rem;
}
.footer-blog .icon-info span{
  font-size: 1.2rem;
  line-height: 4.2rem;
  color: #fff;
  display:block;
  text-align:center;
}
.slideshow{
  margin:0;
}
.slideshow .slide{
  margin:0;
  width:100%;
  height: 100%;
}
.slideshow .slide img{
  margin:0;
  width: 100%;
  height:100%;
  position:fixed;
  max-width: 767px;
  left:0;
  top:0;
}
.slideshow .prev,
.slideshow .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.slideshow .text {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  width:70%;
  margin-left:auto;
  margin-right:auto;
  right:0;
  left:0;
  text-align:center;
}
.slideshow .prev i,
.slideshow .next i {
  font-size:4rem;
}
.slideshow .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow-dot {
  position:fixed;
  height:2rem;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  max-width:4rem;
  margin:auto;
}
.slideshow-dot .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow-dot .active{
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.blog-home{
  margin: 8rem 0;
  display:inline-block;
}
.post .post-content img{
  width: 100%;
  margin: 0 auto;
  display:block;
} 
.post .post-content .post-title{
  font-size:2rem;
  line-height:3rem;
}
.post .post-content p{
  font-size:1.2rem;
  line-height:1.5rem;
  text-align:justify;
}
.sidebar{
  display:block;
}
.article-rating{
}
.article-rating-title{
  font-size:2rem;
  border-bottom:4px solid #26a69a;
}
.article-rating img{
  width: 9rem;
  height:auto;
}
.article-rating a{
  text-decoration:none;
  display:block;
}

.article-rating .row{
  display:flex;
   margin: 2rem 0;
}
.article-rating a span{
  color:#000;
  font-size:1.2rem;
}
.newsletter{
  display:block;
  margin: 1rem 0;
}
.newsletter h6{
  font-size:2rem;
  border-bottom:4px solid #26a69a;
  margin: 0;
}
.form-inline{
  display:block;
}
.form-inline label{
  display:block;
  font-size: 1.4rem;
  margin: 1rem 0;
}
.form-inline input{
  width: 80%;
  background:#fff;
  height: 3rem;
  font-size: 1.2rem;
  padding: 0 1rem;
}
.btn{
  font-size: 1.4rem;
  text-decoration:none;
  color: #fff;
  margin: 2rem auto;
  display:inline-block;
  transition: background-color .2s ease-out;
  padding: 1.2rem;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  position:relative;
  background: #26a69a !important;
  border-radius: 0.2rem;
  cursor:pointer;
  border: none;
}
@media only screen and (min-width: 767px) {
  .row .col.medium1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.medium2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.medium3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.medium4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.medium5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.medium6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.medium7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.medium8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.medium9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.medium10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.medium11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.medium12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .nav-menu{
    display:flex;
    padding:0rem;
  }
  .nav-menu .nav-logo img{
    width:10rem;
    height:5rem;
    padding:1rem;
  }
  .nav-menu .nav-logo h6{
    display:block;
  }
  .nav-menu .nav-content{
    display:block;
    top:inherit;
    left:inherit;
    position:inherit;
    height: auto;
    width:60%;
    background:initial;
    right:0;
  }

  .nav-menu .nav-button--mobile--open,
  .nav-menu .nav-button--mobile--close{
    display:none;
  } 

  .nav-menu .nav-content .nav-list{
    display:flex;
    float:right;
  }
  .nav-menu .nav-content .nav-list .nav-listItem{
    line-height:1rem;
    list-style-type:none;
    position:relative;
    padding: 1.5rem;
  }
  .about{
    height:800px;
  }
  .about h1{
    color: #fff;
    text-align:center;
    font-size:4rem;
    margin: 20%;
    text-shadow: 1px 1px #000;

  }
  .about .down{
    margin:  -2rem auto 0 auto;
  }
  .about-product p{
    max-width: 50rem;
  }

  .about-courses .row{
    margin-bottom: 3rem;
    display:flex;
  }
  .slideshow .slide img{
    max-height:1000px; 
    max-width: 1500px;

  }
  .slideshow .text {
    top:40%;
    font-size:2rem;
  }

  .dayIndex{
    background:url("../img/day_1280.jpg") no-repeat;
  }
  .nightIndex{
    background:url("../img/day_1280.jpg") no-repeat;
  }

  .about-history p{
    max-width:50rem;
  }
  .post .post-content .post-title{
    font-size:2rem;
    line-height:8rem;
  }
}

@media only screen and (min-width: 1500px){
  .slideshow .slide img{
    max-height:1500px;
    max-width: 1920px;
  }
  .index-home .slogan {
    margin: 300px auto;
    width: 500px;
  }
  .dayIndex{
    background:url("../img/day_1920.jpg") no-repeat;
  }
  .nightIndex{
    background:url("../img/day_1920.jpg") no-repeat;
  }


}
